---
title: "fabric_remote_tools: OneLake CRUD Operations"
author: "Renan Peres"
date: "July 01, 2024"
format:
    html:
        theme: 
            light: flatly
            dark: darkly
        highlight-style: dracula
        code-fold: show
        code-tools: 
            source: true
            toggle: true
            # caption: none
        code-copy: true
        code-overflow: wrap
        smooth-scroll: true       
        page-layout: full
        toc: true
        toc-location: left
        lightbox: true
    ipynb:
        output-file: output-file: "fabric_remote_tools-OneLake-CRUD-Operations.ipynb"
        highlight-style: dracula
        code-fold: show
    pdf: default
---

## **Install Package**

In [ ]:
# %pip install https://github.com/renan-peres/fabric-remote-tools/raw/main/fabric_remote_tools-0.1.1.tar.gz

## **Import Modules & Authenticate**

In [12]:
from fabric_remote_tools import FabricAuth, OneLakeUtils
import os
from dotenv import load_dotenv
load_dotenv()

# Load Fabric Environmet Variables (.env File)
account_name = os.getenv("ACCOUNT_NAME")
workspace_id = os.getenv("WORKSPACE_ID")
lakehouse_id = os.getenv("LAKEHOUSE_ID")

# Get Authentication Token
token = FabricAuth.get_service_principal_token()

# Get File System Client
file_system_client = FabricAuth.get_file_system_client(token, account_name, workspace_id)

## **Write to Lakehouse (Files/Tables)**

### **Local Tables (Delta)**

In [ ]:
# Single Table
OneLakeUtils.write_to_lakehouse(
    file_system_client=file_system_client,
    lakehouse_id=lakehouse_id,
    upload_from="local",
    source_path="../assets/data/Tables/venture_funding_deals_delta_partitioned",
    target_path="Tables/local_venture_funding_deals_delta_partitioned"
)

# Multiple Tables in a Folder
OneLakeUtils.write_to_lakehouse(
    file_system_client=file_system_client,
    lakehouse_id=lakehouse_id,
    upload_from="local",
    source_path="../assets/data/Tables",
    target_path="Tables/",
)

### **Local Files/Folders**

In [ ]:
# Whole Folder
OneLakeUtils.write_to_lakehouse(
    file_system_client=file_system_client,
    lakehouse_id=lakehouse_id,
    upload_from="local",
    source_path="../assets/data/Files",
    target_path="Files/"
)

# Individual Subfolder inside a Folder
OneLakeUtils.write_to_lakehouse(
    file_system_client=file_system_client,
    lakehouse_id=lakehouse_id,
    upload_from="local",
    source_path="../assets/data/Files/Contoso",
    target_path="Files/Contoso"
)

# Specific File in a Folder
OneLakeUtils.write_to_lakehouse(
    file_system_client=file_system_client,
    lakehouse_id=lakehouse_id,
    upload_from="local",
    source_path="../assets/data/Files/Contoso/contoso_sales.csv",
    target_path="Files/Contoso/contoso_sales.csv", 
)

### **GitHub (Public Repo)**

In [ ]:
# Whole GitHub repository
OneLakeUtils.write_to_lakehouse(
    file_system_client=file_system_client,
    lakehouse_id=lakehouse_id,
    upload_from="github",
    source_path="https://github.com/renan-peres/Polars-Cookbook.git",
    target_path="Files/GitHub/Polars-Cookbook"
)

# Single Table (Delta) in Repository
OneLakeUtils.write_to_lakehouse(
    file_system_client=file_system_client,
    lakehouse_id=lakehouse_id,
    upload_from="github",
    source_path="https://github.com/renan-peres/Polars-Cookbook.git",
    target_path="Tables/github_venture_funding_deals_delta",
    folder_path="data/venture_funding_deals_delta"
)

# Specific folder from GitHub repository
OneLakeUtils.write_to_lakehouse(
    file_system_client=file_system_client,
    lakehouse_id=lakehouse_id,
    upload_from="github",
    source_path="https://github.com/renan-peres/Polars-Cookbook.git",
    target_path="Files/GitHub/data",
    folder_path="data"
)

### **GitHub (Private Repo)**

In [ ]:
github_token = os.getenv("GH_PERSONAL_ACCESS_TOKEN")
github_username = os.getenv("GH_USERNAME")
gh_repo_name = os.getenv("GH_REPO_NAME")

# Whole GitHub private repository
OneLakeUtils.write_to_lakehouse(
    file_system_client=file_system_client,
    lakehouse_id=lakehouse_id,
    upload_from="github_private",
    github_token=github_token,
    github_username=github_username,
    repo_name=gh_repo_name,
    target_path=f"Files/GitHub/{gh_repo_name}"
)

# Specific folder from GitHub private repository
OneLakeUtils.write_to_lakehouse(
    file_system_client=file_system_client,
    lakehouse_id=lakehouse_id,
    upload_from="github_private",
    github_token=github_token,
    github_username=github_username,
    repo_name=gh_repo_name,
    target_path="Files/GitHub/data",
    folder_path="data"
)

### **Azure DevOps (Private Repo)**

In [ ]:
organization_url = os.getenv("ADO_ORGANIZATIONAL_URL")
personal_access_token = os.getenv("ADO_PERSONAL_ACCESS_TOKEN")
project_name = os.getenv("ADO_PROJECT_NAME")
repo_name = os.getenv("ADO_REPO_NAME")

# Whole Azure DevOps repository
OneLakeUtils.write_to_lakehouse(
    file_system_client=file_system_client,
    lakehouse_id=lakehouse_id,
    upload_from="azure_devops",
    project_name=project_name,
    repo_name=repo_name,
    organization_url=organization_url,
    personal_access_token=personal_access_token,
    target_path=f"Files/AzureDevOps/{repo_name}",
)

# Specific folder from Azure DevOps repository
OneLakeUtils.write_to_lakehouse(
    file_system_client=file_system_client,
    lakehouse_id=lakehouse_id,
    upload_from="azure_devops",
    project_name=project_name,
    repo_name=repo_name,
    organization_url=organization_url,
    personal_access_token=personal_access_token,
    target_path="Files/AzureDevOps/data",
    folder_path="/data",
)

## **List Items from Lakehouse (Files/Tables)**

In [ ]:
# List All Items in Lakehouse
OneLakeUtils.list_items(
    file_system_client=file_system_client
    ,lakehouse_id=lakehouse_id
    ,target_directory_path="Tables" # Tables or Files
    #  ,print_output= True # Optional
)

## **DeltaLake Table Operations**

### **Read Table from Lakehouse into a DataFrame**

In [15]:
from fabric_remote_tools import FabricAuth, OneLakeUtils
import os
from dotenv import load_dotenv
load_dotenv() # Load environment variables from .env file

# Authenticate and obtain access token
file_system_client = FabricAuth().get_client_secret_token()

# Read Table from Lakehouse into Dataframe
workspace_name = os.getenv("WORKSPACE_NAME")
lakehouse_name = os.getenv("LAKEHOUSE_NAME")
table_name = "Tables/venture_funding_deals_delta"
table_path = f"abfss://{workspace_name}@onelake.dfs.fabric.microsoft.com/{lakehouse_name}.Lakehouse/{table_name}"

df = OneLakeUtils().read_deltalake(
    file_system_client=file_system_client,
    table_path=table_path,
    engine='duckdb',  # Supported options: 'duckdb', 'polars'
    # version=11,  # Optional: specify the version to read
    # row_limit=10  # Optional
)

display(df)

┌──────────────────────┬────────────────┬──────────────────────┬───┬──────────────────────┬───────────────┐
│       Company        │     Amount     │    Lead investors    │ … │       Industry       │ Date reported │
│       varchar        │    varchar     │       varchar        │   │       varchar        │    varchar    │
├──────────────────────┼────────────────┼──────────────────────┼───┼──────────────────────┼───────────────┤
│ Stripe               │ $6,500,000,000 │ n/a                  │ … │ Fintech              │ 3/15/23       │
│ Inflection AI        │ $1,300,000,000 │ Microsoft, Reid Ho…  │ … │ Artificial intelli…  │ 6/29/23       │
│ Anthropic            │ $1,250,000,000 │ Amazon               │ … │ Artificial intelli…  │ 9/25/23       │
│ Lessen               │ $500,000,000   │ n/a                  │ … │ Real estate          │ 1/11/23       │
│ Databricks           │ $500,000,000   │ funds and accounts…  │ … │ Data                 │ 9/14/23       │
│ Anthropic            │ $450,000,000   │ Spark Capital        │ … │ Artificial intelli…  │ 5/23/23       │
│ Adept AI             │ $350,000,000   │ General Catalyst, …  │ … │ Artificial intelli…  │ 3/14/23       │
│ Axiom Space          │ $350,000,000   │ Aljazira Capital, …  │ … │ Space tech           │ 8/21/23       │
│ Zipline              │ $330,000,000   │ n/a                  │ … │ Drones               │ 4/28/23       │
│ Our Next Energy      │ $300,000,000   │ Franklin Templeton…  │ … │ Energy               │ 2/1/23        │
│        ·             │      ·         │  ·                   │ · │   ·                  │   ·           │
│        ·             │      ·         │  ·                   │ · │   ·                  │   ·           │
│        ·             │      ·         │  ·                   │ · │   ·                  │   ·           │
│ Eikon Therapeutics   │ $106,000,000   │ n/a                  │ … │ Biotech              │ 6/1/23        │
│ R-Zero               │ $105,000,000   │ CDPQ                 │ … │ Biotech              │ 2/14/23       │
│ CG Oncology          │ $105,000,000   │ Foresite Capital, …  │ … │ Biotech              │ 8/2/23        │
│ Synthekine           │ $100,000,000   │ The Column Group     │ … │ Biotech              │ 1/6/23        │
│ Paratus Sciences     │ $100,000,000   │ Polaris Partners, …  │ … │ Biotech              │ 2/27/23       │
│ Rapport Therapeutics │ $100,000,000   │ Third Rock Venture…  │ … │ Biotech              │ 3/7/23        │
│ Boundless Bio        │ $100,000,000   │ Leaps by Bayer, RA…  │ … │ Biotech              │ 5/16/23       │
│ Ray Therapeutics     │ $100,000,000   │ Novo Holdings A/S    │ … │ Biotech              │ 5/16/23       │
│ Acepodia             │ $100,000,000   │ Digital Mobile Ven…  │ … │ Biotech              │ 6/6/23        │
│ Inceptive            │ $100,000,000   │ NVentures, Andrees…  │ … │ Biotech              │ 9/7/23        │
├──────────────────────┴────────────────┴──────────────────────┴───┴──────────────────────┴───────────────┤
│ 171 rows (20 shown)                                                                 6 columns (5 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────┘

### **Query DataFrame with DuckDB**

In [ ]:
%pip install magic_duckdb --upgrade --quiet
%load_ext magic_duckdb

In [17]:
%%dql
PRAGMA disable_print_progress_bar;
SUMMARIZE df;
DESCRIBE SELECT * FROM df;

      column_name column_type null   key default extra
0         Company     VARCHAR  YES  None    None  None
1          Amount     VARCHAR  YES  None    None  None
2  Lead investors     VARCHAR  YES  None    None  None
3       Valuation     VARCHAR  YES  None    None  None
4        Industry     VARCHAR  YES  None    None  None
5   Date reported     VARCHAR  YES  None    None  None

In [23]:
%%dql
CREATE OR REPLACE TABLE df_tranf AS 
    SELECT *
    FROM df
    LIMIT 20;

   Count
0     20

### **Write DataFrame to Lakehouse as a Delta Table**

In [22]:
from deltalake.writer import write_deltalake
import duckdb
import pyarrow
import polars as pl

# Write DataFrame to Lakehouse
write_deltalake(
    table_or_uri=table_path
    ,storage_options=file_system_client
    # ,data=df.to_arrow() # Polars DF
    ,data=duckdb.sql("SELECT * FROM df_tranf").arrow() # DuckDB (arrow DF)
    ,mode="append" # Supported options: 'append', 'overwrite'
    ,engine="rust"
)

### **DESCRIBE HISTORY**

In [20]:
from deltalake import DeltaTable
import pandas as pd

# Initialize the DeltaTable
dt = DeltaTable(table_path)

# Retrieve the full history of the DeltaTable
history = dt.history()

# Convert the history list to a pandas DataFrame
history_df = pd.DataFrame(history)

# Parse the timestamp column
history_df['timestamp'] = pd.to_datetime(history_df['timestamp'], unit='ms')

# Display the DataFrame, sorted by version in descending order
display(history_df.sort_values(by='version', ascending=False).head(5))

,timestamp,operation,operationParameters,readVersion,isolationLevel,isBlindAppend,engineInfo,txnId,operationMetrics,version,tags,clientVersion
0,2024-07-02 19:52:55.075,VACUUM END,{'status': 'COMPLETED'},6.0,SnapshotIsolation,True,Apache-Spark/3.4.1.5.3.20240528.1 Delta-Lake/2...,4ebe44b4-d133-4e06-b659-1deb812dee77,"{'numDeletedFiles': '0', 'numVacuumedDirectori...",7,NaN,NaN
1,2024-07-02 19:52:53.249,VACUUM START,"{'defaultRetentionMillis': 604800000, 'retenti...",5.0,SnapshotIsolation,True,Apache-Spark/3.4.1.5.3.20240528.1 Delta-Lake/2...,60f1f933-7958-47c1-bf8e-46031dac75f2,"{'numFilesToDelete': '0', 'sizeOfDataToDelete'...",6,NaN,NaN
2,2024-07-02 19:51:06.952,VACUUM END,{'status': 'COMPLETED'},4.0,SnapshotIsolation,True,Apache-Spark/3.4.1.5.3.20240528.1 Delta-Lake/2...,a63cdab8-c767-4b50-b4b2-7da6f632754b,"{'numDeletedFiles': '0', 'numVacuumedDirectori...",5,NaN,NaN
3,2024-07-02 19:51:05.207,VACUUM START,"{'retentionCheckEnabled': True, 'defaultRetent...",3.0,SnapshotIsolation,True,Apache-Spark/3.4.1.5.3.20240528.1 Delta-Lake/2...,baa959c3-6e72-4ccd-b5c2-59c98aa92414,"{'numFilesToDelete': '0', 'sizeOfDataToDelete'...",4,NaN,NaN
4,2024-07-02 19:49:43.671,OPTIMIZE,"{'vorder': True, 'zOrderBy': '[]', 'auto': Fal...",2.0,SnapshotIsolation,False,Apache-Spark/3.4.1.5.3.20240528.1 Delta-Lake/2...,5f647a7a-88b1-4442-8db0-5d38f6bb2a85,"{'maxFileSize': '10416', 'minFileSize': '10416...",3,{'VORDER': 'true'},NaN

## **Download Items from Lakehouse (Files/Tables)**

In [ ]:
# Tables
OneLakeUtils.download_from_lakehouse(
    file_system_client=file_system_client
    ,lakehouse_id=lakehouse_id
    # ,target_file_path="Tables/venture_funding_deals" # Single Table
    ,target_file_path="Tables/" # All Tables
)

# Files
OneLakeUtils.download_from_lakehouse(
    file_system_client=file_system_client
    ,lakehouse_id=lakehouse_id
    # ,target_file_path="Files/Contoso/contoso_sales.csv" # Single File
    # ,target_file_path="Files/Contoso/" # Subfolder
    ,target_file_path="Files/" # All Subfolders & Files
)

## **Delete Items from Lakehouse (Files/Tables)**

In [ ]:
# Tables
OneLakeUtils.delete_file(
    file_system_client=file_system_client
    ,lakehouse_id=lakehouse_id
    # ,lakehouse_dir_path="Tables/venture_funding_deals_delta" # Single Table
    ,lakehouse_dir_path="Tables/" # All Tables
)

# Files
OneLakeUtils.delete_file(
    file_system_client=file_system_client 
    ,lakehouse_id=lakehouse_id
    # ,lakehouse_dir_path="Files/Contoso/contoso_sales.csv" # Single File
    # ,lakehouse_dir_path="Files/Contoso" # Subfolder
    ,lakehouse_dir_path="Files/" # All Subfolders & Files
)